@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 300;
    font-variant:normal;
    font-size:larger;

}

h1{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

         /* text */

h1{
    background-color: blue;
    color: brown;

    text-align: center;
    
}

p{
    text-align-last: justify;
    direction: rtl;
    unicode-bidi: bidi-override;
    
}

h2{
text-decoration:underline;
text-decoration-color: rgb(255, 0, 0);
text-decoration-thickness: 30%;
}
