*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    grid-template-rows: 200px 200px 200px ;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    padding: 40px;
    
}


.cards1{ 
      
    background-color: rgb(158, 121, 77);
    border: 1px solid rgb(86, 86, 141);
    grid-column: 1/ span 2;
    
 
}

.cards2{

  
    background-color: rgb(158, 121, 77);
    border: 1px solid rgb(86, 86, 141);
    grid-row:span 2;
    

}

.cards3{
     
    background-color: rgb(158, 121, 77);
    border: 1px solid rgb(86, 86, 141);
}

.cards4{

      background-color: rgb(158, 121, 77);
    border: 1px solid rgb(86, 86, 141);
}

.cards5{
     
    background-color: rgb(158, 121, 77);
    border: 1px solid rgb(86, 86, 141);
}

.cards6{

      background-color: rgb(158, 121, 77);
    border: 1px solid rgb(86, 86, 141);
}

.cards7{
     
    background-color: rgb(158, 121, 77);
    border: 1px solid rgb(86, 86, 141);
}


